.header {
	height: 80px;
}
.header-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $header-bg;
	height: 100%;
}
.header__title {
	color: $title-color;
	font-size: 3rem;
}
